html {
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    background: linear-gradient(135deg, #3498db, #8e44ad);
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    height: 100%;
    justify-content: center;
    color: white;
}
.wrapper {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    flex-basis: 400px;
    height: 600px;
    padding: 30px 40px;
}
.screen {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 40px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 100%;
}
.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.calc-button {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    color: white;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    transition: background-color 0.3s, color 0.3s;
}
.calc-button:last-child {
    background: #e74c3c;
    color: white;
}
.calc-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.calc-button:active {
    background-color: #34495e;
}
.calc-button:last-child:hover {
    background-color: #c0392b;
    color: white;
}
.double {
    flex-basis: 47%;
}
.triple {
    flex-basis: 73%;
}
